<div class="container">
  <div class="container-title" *ngIf="movie">
      <div class="container-image">
        <img [src]="movie.imgUrl" alt="{{ movie.title }}">
      </div>
      <div class="container-text">
        <h2>{{ movie.title }}</h2>
        <p> <span>{{ movie.year }}</span> </p>
        <p>{{ movie.subTitle }}</p>

        <div class="synopsis">
          <p>{{ movie.synopsis }}</p>
        </div>
      </div>

  </div>

  <div class="container-post-review">
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="Deixe sua avaliação aqui" formControlName="text">
      <button type="submit" >SALVAR AVALIAÇÃO</button>
    </form>
  </div>

  <div class="container-reviews">
    <ul>
      <li *ngFor="let review of reviews">
        <div class="container-comment">
          <div class="starName">
            <p><span>&#9733;</span></p>
            <p>  {{review.userName}} </p>
          </div>
          <p class="text">  {{ review.text }} </p>
        </div>
      </li>
    </ul>
  </div>

</div>